.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 30px
  background-color: $dark
  &-logo
    width: 180px
  &-interface
    display: flex
    align-items: center
    &__user
      display: flex
      align-items: center
      margin-right: 50px
    &__username
      margin-left: 15px
      font-weight: 500
      font-size: 14px
      line-height: 20px
      color: $accent-color
      cursor: pointer
      &:hover
        color: lighten($accent-color, 10)
    &__icon
      fill: $accent-color
      width: 25px
      height: 25px
      cursor: pointer
      &:nth-child(2)
        margin-right: 30px
      &:hover
        fill: lighten($accent-color, 10)
.search-form
  display: flex
  align-items: center
  padding: 0 20px
  width: 600px
  height: 35px
  border-radius: 9999px
  background-color: rgba(255, 255, 255, 0.1)
  &__input
    width: 100%
    height: 100%
    padding-left: 15px
    background-color: transparent
    color: #CFD8DC
    border: none
    outline: none
    overflow: hidden
    &::placeholder
      font-weight: 400
      font-size: 14px
      line-height: 20px
      color: #CFD8DC
  &__icon
    width: 15px
.wrapper
  display: flex
  height: 100vh
.sidebar
  padding-top: 40px
  width: 280px
  height: 100vh
  background-color: $primary
  &-menu
    &__item
      display: flex
      align-items: center
      padding-left: 45px
      padding-top: 10px
      padding-bottom: 10px
      color: $text-icons
      border-left: 5px solid transparent
      cursor: pointer
      fill: $text-icons
      &--active
        color: $accent-color
        border-color: $accent-color
        fill: $accent-color
    &__icon
      margin-right: 15px
      width: 18px
      height: 18px
      fill: inherit
      &--priority
        transform: rotate(180deg)
        transition: transform 0.2s
        &-active
          transform: rotate(0deg)
    &__text
      margin-right: 30px
      font-weight: 500
      font-size: 16px
      line-height: 24px
    &__counter
      display: flex
      align-items: center
      justify-content: center
      padding-left: 5px
      padding-right: 5px
      min-width: 23px
      height: 23px
      font-weight: 600
      font-size: 14px
      color: $text-icons
      background-color: $accent-color
      border-radius: 9999px
.priority-list
  margin-top: 5px
  &__item
    display: none
    margin-left: 100px
    padding: 3px 0
    color: $text-icons
    cursor: pointer
    &--active
      color: $accent-color
.tasks-container
  overflow-y: scroll
  -ms-overflow-style: none
  &::-webkit-scrollbar
    width: 0
.new-task
  position: absolute
  z-index: 1000
  top: 90px
  right: 30px
  display: flex
  align-items: center
  padding: 10px 20px
  border-radius: 9999px
  color: $text-icons
  font-weight: 400
  font-size: 14px
  background-color: $accent-color
  &:hover
    background-color: lighten($accent-color, 5)
  &__icon
    width: 15px
    margin-right: 8px
.tasks-block
  padding: 60px 40px 0 40px
  &__date
    display: flex
    align-items: center
    padding-bottom: 40px
  &__week-day
    font-size: 20px
    font-weight: 600
    padding-right: 10px
    border-right: 1px solid $divider
  &__month-day
    font-weight: 600
    font-size: 14px
    padding-left: 10px
    padding-top: 1px
    color: $secondary-text
  &__container
    display: flex
    align-items: center
    flex-wrap: wrap
    column-gap: 20px
.card
  position: relative
  padding: 20px
  margin-bottom: 20px
  width: 300px
  height: 200px
  background-color: $text-icons
  border-radius: 15px
  box-shadow: 5px 5px 19px 4px rgba(128, 128, 128, 0.25)
  &-priority
    width: 40px
    height: 40px
    fill: #FF0000
    &--middle
      fill: #fdc025
    &--low
      fill: #32BF00
  &-interface
    position: absolute
    top: 30px
    right: 0
    display: flex
    align-items: center
    &__icon
      width: 20px
      height: 20px
      margin-right: 15px
      fill: $accent-color
      cursor: pointer
      &:hover
        fill: lighten($accent-color, 10)
  &__time
    display: block
    margin-top: 30px
    font-weight: 600
    font-size: 14px
    color: $secondary-text
  &__task-name
    display: block
    margin-top: 10px
    max-width: 180px
    font-weight: 600
    font-size: 20px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  &__subtask
    margin-top: 20px
    &-text
      margin-right: 5px
      font-weight: 600
      font-size: 14px
      color: $secondary-text
    &-num
      font-weight: 600
      font-size: 16px
      color: $accent-color
  &__progressbar
    position: absolute
    bottom: 20px
    right: 20px
    width: 70px
    height: 70px
.drop-menu
  display: none
  position: absolute
  z-index: 10
  top: 70px
  right: -50px
  background-color: $text-icons
  border-radius: 10px
  filter: drop-shadow(3px 3px 19px rgba(0, 0, 0, 0.2))
  &--active
    display: block
  &__item
    display: flex
    align-items: center
    padding: 8px 30px
    font-size: 14px
    color: $secondary-text
    cursor: pointer
    fill: $secondary-text
    &:not(:last-child)
      border-bottom: 1px solid #CFD8DC
    &:hover
      fill: $accent-color
      color: $accent-color
  &__icon
    width: 8px
    height: 12px
    margin-right: 10px
    margin-left: -18px
    fill: inherit
  &-inquiry
    display: none
    position: absolute
    top: 0
    left: -159px
    background-color: $text-icons
    border-radius: 10px
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.2)
    &--active
      display: block
  &-template
    display: none
    position: absolute
    top: 33px
    left: -133px
    background-color: $text-icons
    border-radius: 10px
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.2)
    &--active
      display: block
  &::after
    content: ''
    position: absolute
    right: 65px
    top: -24px
    border: 9px solid transparent
    border-bottom: 15px solid $text-icons

  //Адаптив
@media ( max-width: 1260px )
  .search-form
    max-width: 350px
  .header-interface
    &__user
      margin-right: 20px
  .sidebar
    width: 200px
    &-menu
      &__item
        padding-left: 25px
      &__text
        font-size: 14px
  .card
    width: 275px
    height: 180px
    &__time
      font-size: 12px
    &__subtask
      margin-top: 5px
      &-text
        font-size: 12px
      &-num
        font-size: 14px
    &__task-name
      font-size: 16px
    &__progressbar
      width: 50px
      height: 50px
  .priority-list__item
    font-size: 14px
    margin-left: 80px
  .new-task
    font-size: 12px
  .tasks-block
    &__date
      padding-bottom: 20px
    &__week-day
      font-size: 16px
